# Preprocessing

- Train test splits sets
     - Train_size: (338386, 13)
     - Test_size:  (84597, 13)
        
- Imputation
    - Missing_values : dropna
    
- Encoding
    - astype('category').cat.codes
    
### Evaluation of first model
- DecisionTreeRegressor


### End of modelisation 

- Outliers
    - Visualysing 
    - Removing 
    
- Features selection
    - Best features
    
- Features ingenering
    - Engenring new features 
    - Polynomial Features  
- Feature Scaling
    - MinMaxScaler
    - StandardScaler
    - RobustScaler

### Imptortation du dataset et copy pour un usage plus simple et pratique et netoyage des features inutiles

In [3]:
import pandas as pd

donne = pd.read_csv('pratices/vehicules.csv')
data = donne.copy()

liste = ['image_url','description','posting_date','size', 'state', 'VIN', 'region_url', 'region', 'url', 'long',
       'id', 'lat', 'Unnamed: 0', 'model']

data = data[data.price > 1500]
data.drop(liste, axis=1, inplace=True)
data = data.sample(150000, random_state=42)
data

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color
5202,19498,2017.0,nissan,excellent,NaN,gas,49717.0,clean,automatic,NaN,NaN,black
151579,23266,2018.0,jeep,excellent,4 cylinders,gas,20058.0,clean,automatic,4wd,SUV,red
78893,5495,2008.0,nissan,NaN,4 cylinders,gas,130728.0,clean,automatic,4wd,wagon,NaN
191547,15500,2016.0,ford,excellent,NaN,gas,154931.0,clean,automatic,4wd,SUV,blue
202104,2000,2006.0,chevrolet,NaN,6 cylinders,gas,222000.0,clean,automatic,fwd,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
301285,13950,2013.0,ford,good,8 cylinders,gas,137278.0,clean,automatic,4wd,truck,white
223662,6950,2003.0,mazda,NaN,NaN,gas,82683.0,clean,automatic,fwd,convertible,silver
335277,6800,2007.0,toyota,excellent,NaN,gas,163690.0,clean,automatic,fwd,mini-van,white
191274,17900,2017.0,ford,NaN,NaN,other,126347.0,clean,automatic,NaN,other,white
290688,4995,2008.0,chevrolet,good,6 cylinders,gas,121000.0,clean,automatic,fwd,sedan,silver

### Imputation Encoding

### Train test splits

### First model to test the base preprocessing

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import learning_curve, train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor, AdaBoostRegressor
import numpy as np
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
import matplotlib.pyplot as plt
from sklearn.pipeline import make_pipeline
from sklearn.feature_selection import SelectKBest
from sklearn.preprocessing import StandardScaler,LabelEncoder,PolynomialFeatures
from sklearn.impute import SimpleImputer, KNNImputer

## Modelisation

In [5]:
def encodage(data):
    for strings in data.select_dtypes('object'):
        data[strings] = (data[strings]).astype("category").cat.codes
encodage(data)


for dt in data.columns:
    data[dt] = data[dt].fillna(data[dt].mean())
data

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color
5202,19498,2017.0,31,0,-1,2,49717.0,0,0,-1,-1,0
151579,23266,2018.0,21,0,3,2,20058.0,0,0,0,0,8
78893,5495,2008.0,31,-1,3,2,130728.0,0,0,0,12,-1
191547,15500,2016.0,13,0,-1,2,154931.0,0,0,0,0,1
202104,2000,2006.0,7,-1,5,2,222000.0,0,0,1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
301285,13950,2013.0,13,2,6,2,137278.0,0,0,0,10,10
223662,6950,2003.0,26,-1,-1,2,82683.0,0,0,1,2,9
335277,6800,2007.0,39,0,-1,2,163690.0,0,0,1,5,10
191274,17900,2017.0,13,-1,-1,4,126347.0,0,0,-1,7,10
290688,4995,2008.0,7,2,5,2,121000.0,0,0,1,9,9

In [ ]:
import seaborn as sb
sb.pairplot(data, hue='condition', data=data)

In [ ]:
plt.savefig('plotting.png')

In [ ]:
train, test = train_test_split(data, random_state=42, test_size=0.65)

X_train, y_train = train.drop('price', axis=1), train['price']
X_test, y_test = test.drop('price', axis=1), test['price']

### Modelisation

In [ ]:
models = [LinearRegression() , SVR() , AdaBoostRegressor(), ]
model= SGDRegressor()
model.fit(X_train, y_train)
model.score(X_train, y_train)

In [ ]:
def modelisation(model=model, X=X_train, y=y_train, x=X_test, Y=y_test):
    model.fit(X, y)
    
    print(model.score(x, Y))
    
    # Learning curve now
    
    train_sizes, test_score, val_score = learning_curve(model, X, y, train_sizes=np.linspace(.1, 1.0, 10), random_state=42)
    
    plt.figure(figsize=(16,8))
    plt.plot(train_sizes, test_score.mean(axis=1), label="Entrainement")
    plt.plot(train_sizes, val_score.mean(axis=1), label="Validation")
    plt.legend()
    
modelisation()